.navbar {
  background: #2f9cd9;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  max-width: 100%;
}

.navbar-logo {
  color: black;
  justify-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.paddles-icon {
  height: auto;
  width: auto;
  margin-top: 8px;
}

.title {
  margin-left: 10px;
  font-size: 1.3rem;
  font-family: Akshar;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13px;
  margin-right: 13px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ALL NEW */

/* .NavbarItems {
  position: relative;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu.active {
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}

.nav-links:hover {
  background-color: #fff;
  color: #242424;
  border-radius: 0;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 50%);
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.fa-times {
  color: #fff;
  font-size: 2rem;
}

.nav-links-mobile {
  display: block;
  text-align: center;
  margin: 2rem auto;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-links-mobile:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
} */
